/****** General ***********/

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  min-width: 375px;
  margin: 0;
  background-color: $body-bg-color;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.Center {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  box-sizing: content-box;
  border: none;
  padding: 0;
  margin: 0;
  font-family: initial;
  font-size: medium;
  font-weight: normal;
  background-color: transparent;
  color: inherit;
  text-align: left;
  box-shadow: none;
  outline: none;
}

.heart {
  font-size: 22px;
}
