/****** General ***********/

/** Header **/
.header__page {
  height: 63px;

  &__fleche {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 17px;
    left: 17px;
  }
  &__logo {
    width: 100%;
    height: 63px;
    display: flex;
    justify-content: center;

    &__content {
      width: 375px;
      height: 100%;
      padding-top: 8px;

      img {
        width: 43%;
        height: auto;
      }
    }
  }
}
/** Main **/

.restaurant {
  margin-bottom: -53px;

  &__image {
    width: 100%;
    position: relative;
    padding-bottom: 73%;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      max-width: 100%;
    }
  }

  &__wrapper {
    height: 100%;
    width: 100%;
    background-color: #f6f6f6;
    border-radius: 45px 45px 0 0;
    padding: 30px 0px 40px 0px;
    position: relative;
    top: -55px;

    &__title {
      display: flex;
      font-family: Shrikhand;
      font-size: 14px;
      font-weight: 400;
      line-height: 41px;
      text-align: left;
      margin: 0 17px 42px 17px;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      color: #101010;
    }

    .menu {
      display: flex;
      flex-direction: column;
      margin: 0 13px;
      margin-bottom: 40px;
      row-gap: 12px;

      &__title {
        height: 27px;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 300;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 40px;
          border-bottom: 3px solid $new-bg-color;
        }
      }

      &__restaurant {
        display: flex;
        flex-direction: row;
        gap: 12px;
        position: relative;

        &__choice {
          background-color: white;
          box-shadow: 0px 4.01px 15.04px 0px #0000001a;
          border-radius: 15px;
          height: 72px;
          display: flex;
          justify-content: space-between;
          flex-direction: row;
          white-space: nowrap;
          width: 100%;

          .menu__restaurant__content {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 0 13px;
            text-overflow: ellipsis;
            overflow: hidden;
            &__txt {
              z-index: 0;
              width: 100%;
              overflow: hidden;
              text-overflow: ellipsis;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              white-space: nowrap;

              h2 {
                padding-top: 15px;
                font-size: 18px;
                font-weight: 500;
                line-height: 21px;
                text-align: left;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }

              p {
                font-family: Roboto;
                font-size: 15px;
                font-weight: 300;
                line-height: 18px;
                text-align: left;
                padding-bottom: 15px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }

            &__price {
              display: flex;
              align-items: center;
              font-family: Roboto;
              font-size: 15.04px;
              font-weight: 700;
              line-height: 17.63px;
              margin-top: 20px;
              z-index: 40;
            }
          }
        }
      }
    }
    &__btn {
      width: 100%;
      display: flex;
      justify-content: center;

      button {
        width: 186px;
        height: 50px;
        font-weight: 500;
        color: #ffffff;
        font-style: normal;
        border-radius: 25px;
        @include btn-shadoow;
        border: none;
        background: $btn-gradient;
        font-size: 16px;
        cursor: pointer;
        &:hover {
          opacity: 0.85;
          box-shadow: 0px 7px 16px 0px rgba(0, 0, 0, 0.25);
        }
      }
    }
  }
}

/* Media Queries pour Desktop */

@media (min-width: 768px) {
  .restaurant__image {
    padding-bottom: 396px;
    overflow: hidden;
  }

  .restaurant__image img {
    height: 383px;
  }

  .restaurant__wrapper {
    padding-bottom: 40px;
    max-width: 1055px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .restaurant__wrapper__title {
    width: 100%;
    height: 41px;
    justify-content: center;
    column-gap: 24px;
  }

  .sect_menu {
    width: 634px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu {
    margin: 0 0 40px 0;
    width: 100%;
  }
}
