/****** General ***********/

/** Header **/
.header__page {
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__fleche {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 17px;
    left: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__logo {
    width: 100%;
    height: 63px;
    display: flex;
    justify-content: center;

    &__content {
      width: 375px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 8px;

      img {
        width: 43%;
        height: auto;
      }
    }
  }
}
/** Main **/

.restaurant {
  margin-bottom: -19px;
  background-color: #f6f6f6;

  &__image {
    width: 100%;
    position: relative;
    padding-bottom: 73%;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      display: block;
      max-width: 100%;
    }
  }

  &__wrapper {
    height: 100%;
    width: 100%;
    background-color: #f6f6f6;
    border-radius: 45px 45px 0 0;
    padding-top: 32px;
    position: relative;
    top: -55px;

    &__title {
      display: flex;
      font-family: Shrikhand;
      font-size: 14px;
      font-weight: 400;
      line-height: 41px;
      text-align: left;
      margin: 0 17px 42px 17px;
      height: 27px;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      color: #101010;
    }

    .menu {
      display: flex;
      flex-direction: column;
      margin: 0 13px;
      margin-bottom: 40px;
      row-gap: 12px;

      &__title {
        height: 27px;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 300;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 10.67%;
          border-bottom: 3px solid $new-bg-color;
        }
      }

      &__restaurant {
        display: flex;
        flex-direction: row;
        gap: 12px;

        &__choice {
          background-color: white;
          box-shadow: 0px 4.01px 15.04px 0px #0000001a;
          border-radius: 15px;
          height: 72px;
          display: flex;
          justify-content: space-between;
          flex-direction: row;
          white-space: nowrap;
          width: 100%;

          &__content {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 0 13px;

            &__txt {
              z-index: 0;
              width: 100%;
              display: flex;
              flex-direction: column;
              justify-content: space-between;

              h2 {
                padding-top: 15px;
                font-size: 18px;
                font-weight: 500;
                line-height: 21px;
                text-align: left;
              }

              p {
                font-family: Roboto;
                font-size: 15px;
                font-weight: 300;
                line-height: 18px;
                text-align: left;
                padding-bottom: 15px;
              }
            }

            &__price {
              display: flex;
              align-items: center;
              font-family: Roboto;
              font-size: 15.04px;
              font-weight: 700;
              line-height: 17.63px;
              margin-top: 20px;
            }
          }
        }
      }
    }
    &__btn {
      width: 100%;
      display: flex;
      justify-content: center;

      button {
        width: 186px;
        height: 50px;
        font-weight: 500;
        color: #ffffff;
        font-style: normal;
        border-radius: 25px;
        @include btn-shadoow;
        border: none;
        background: $btn-gradient;
        font-size: 16px;
        cursor: pointer;
      }
    }
  }
}

/*** Footer ***/

.footer {
  padding: 22px 25px;
  display: flex;
  flex-direction: column;
  background-color: $footer-bg-color;
  color: $footer-text-color;

  &__logo {
    img {
      width: 100px;
      height: 27px;
      padding: 0px 1.42px 0px 0px;
      filter: brightness(0) invert(1);
    }
  }

  &__links {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    &__content {
      display: flex;
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-bottom: 7px;
      box-sizing: border-box;

      i.footer__icon {
        width: 11.92px;
        height: 13px;
        margin-right: 15px;
      }
    }
  }
}
