/* Styles de base pour le loader-wrapper */
.loader-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: $sniper-bg-color;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Styles du spinner */
.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top-color: #333;
  animation: spinner 1s linear infinite;
}

/* Animation du spinner */
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Animation pour faire disparaître le loader */
@keyframes spinOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/* Appliquer l'animation de disparition */
.loader-wrapper {
  animation: spinOut 1s ease-in-out 1s forwards;
}
