/* Styles de base pour le loader-wrapper */
.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9); /* Fond légèrement transparent */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Styles du spinner */
.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top-color: #333;
  animation: spin 1s linear infinite; /* Durée de rotation du spinner */
}

/* Animation du spinner */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Animation pour faire disparaître le loader */
@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/* Appliquer l'animation de disparition */
.loader-wrapper {
  animation: fadeOut 1s ease-in-out 1s forwards; /* Temps total réduit à 2 secondes */
}
