// Bouton Explore
.explore__btn {
  button {
    width: 218px;
    height: 50px;
    color: $body-bg-color;
    margin-top: 30px;
    border-radius: 25px;
    @include btn-shadoow;
    border: none;
    background: $btn-gradient;
    font-size: 16px;
    &:hover {
      opacity: 0.85;
      box-shadow: 0px 7px 16px 0px rgba(0, 0, 0, 0.25);
    }
  }
}

// Restaurants card
.restaurants__block__card {
  width: 100%;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: $body-bg-color;
  @include card-shadow;
  position: relative;
  overflow: hidden;
  img {
    width: 100%;
    height: 175px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
  }
}

//Nouveauté badge
.restaurants__block__card__new {
  position: absolute;
  top: 10px;
  right: 10px;
  color: $new-text-color;
  background: $new-bg-color;
  padding: 5px 10px;
  border-radius: 2px;
  font-weight: 500;
  font-size: 14px;
  @include new-shadow;
}

//COEUR animation//
.favorite__selected {
  @include favorite__selected;
  animation: simpleScale 1s ease-in-out;
}

.favorite__restaurants {
  margin-right: 7.03%;
}

/*unfilled-heart */
input[type="checkbox"]:not(:checked) ~ .favorite__restaurants .unfilled-heart {
  display: block;
}

/* filled-heart */
input[type="checkbox"]:not(:checked) ~ .favorite__restaurants .filled-heart {
  display: none;
}

/* Styles when the checkbox is checked */
input[type="checkbox"]:checked ~ .favorite__restaurants .unfilled-heart {
  display: none;
}

/* Styles when the checkbox is checked */
input[type="checkbox"]:checked ~ .favorite__restaurants .filled-heart {
  display: block;
}

@keyframes simpleScale {
  0%,
  100% {
    transform: scale(1); // Commence et termine à la taille normale
  }
  50% {
    transform: scale(1.1); // Atteint une taille légèrement agrandie au milieu
  }
}

//apparition des carte//
@keyframes FadeIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.entrees {
  animation: FadeIn 1.2s;
  animation-delay: 1.6s;
  transform: scale(0);
  animation-fill-mode: forwards;
}
.plats {
  animation: FadeIn 1.2s;
  animation-delay: 2s;
  transform: scale(0);
  animation-fill-mode: forwards;
}

.desserts {
  animation: FadeIn 1.2s;
  animation-delay: 2.4s;
  transform: scale(0);
  animation-fill-mode: forwards;
}

/* Configuration initiale de l'icône cachée */

.menu__labels {
  position: absolute;
  height: 72px;
  width: 100%;
  z-index: 1000;
}

.menu__restaurant__selected {
  position: relative;
  height: 100%;
  width: 0;
  background-color: #99e2d0;
  border-radius: 0 20% 20% 0;
  overflow: hidden;
  transition: width 0.5s ease;
}

.fa-circle-check {
  font-size: 25px;
  color: white;
  width: 20px;
  height: 20px;
}
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ .menu__restaurant__choice .menu__restaurant__selected {
  width: 68px;
  right: 0;
}

@media (min-width: 1024px) {
  /*unfilled-heart */
  input[type="checkbox"]:not(:hover) ~ .favorite__restaurants .unfilled-heart {
    display: block;
  }

  /* filled-heart */
  input[type="checkbox"]:not(:hover) ~ .favorite__restaurants .filled-heart {
    display: none;
  }

  /* Styles when the checkbox is checked */
  input[type="checkbox"]:hover ~ .favorite__restaurants .unfilled-heart {
    display: none;
  }

  /* Styles when the checkbox is checked */
  input[type="checkbox"]:hover ~ .favorite__restaurants .filled-heart {
    display: block;
  }
}
