$primary-color: #ff79da;
$secondary-color: #9356dc;
$explore-restaurant-bg-color: #f6f6f6;
$body-bg-color: white;
$searchBar-bg-color: #eaeaea;
$shadow-color: #00000026;
$text-color: #353535;
$icon-color: #7e7e7e;
$new-bg-color: #99e2d0;
$new-text-color: #008766;
$footer-bg-color: #353535;
$footer-text-color: #ffffff;
$btn-gradient: linear-gradient($primary-color, $secondary-color);
$sniper-bg-color: rgba(255, 255, 255, 0.9);
